.header {
    width: 95%;
    margin: 0px auto;
}

.bg-theme-primary {
    background-color: #28a745;
}

.header-search-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.search-form {
    margin: 0px;
}

.search-form .form-group {
    margin-bottom: 0px;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid #333333;
}

.search_input {
    color: #999999;
    border: 0;
    outline: 0;
    width: 250px;
    caret-color: transparent;
    line-height: 10px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    caret-color: #333333;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #333333;
}

.search_icon {
    height: 20px;
    width: 20px;
    padding-top: 5px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #999999;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.header-logo {
    width: 200px;
    height: 80px;
    overflow: hidden;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-count {
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
}

.btn-custom {
    background-color: #28a745;
    border-color: #28a745;
    margin-left: 15px;
    border-radius: 30px;
}

.btn-custom:hover {
    background-color: #269941;
    border-color: #269941;
}

ul.navbar-nav.site-nav li.nav-item a.nav-link {
    color: #ffffff;
}